<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <a class="navbar-brand" routerLink="home"><b>{{title}}</b></a>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto" >
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" routerLink="courses">Courses</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" routerLink="lecturers">Lecturers</a>
      </li>
      <li [routerLinkActive]="['active']" *ngIf="authority === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="new-user">Add new user</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="!authority" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
      <li *ngIf="authority" class="nav-item">
        <button type="button" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
