nav {
  background-color: #B1A296;
}

#navbarNavDropdown > ul > li > a {
  color: white;
}

button {
  background:none;
  color: white;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

.navbar-brand {
  color: white;
}
