<table class="table table-striped">
  <thead>
  <tr>
    <th class="row-1 row-ID">ID</th>
    <th class="row-2 row-name">Name</th>
    <th class="row-3 row-field">Field</th>
    <th class="row-4 row-type">Type</th>
    <th class="row-5 row-department">Department</th>
    <th class="row-6 row-button"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lecturer of currentLecturers">
    <td>{{ lecturer.id }}</td>
    <td>{{ lecturer.nameSurname }}</td>
    <td>{{ lecturer.studyField }}</td>
    <td>{{ lecturer.type === 'P' ? 'Professor' : 'Assistant' }}</td>
    <td>{{ lecturer.department.name }}</td>
    <td class="button-data">
      <button class="btn btn-info far fa-edit"
              [routerLink]="[lecturer.type === 'P' ? 'professor-edit' :
          'assistant-edit', lecturer.id]"></button>
      <button class="btn btn-danger far fa-trash-alt" (click)="deleteLecturer(lecturer.id)"></button>
    </td>
  </tr>
  </tbody>
</table>
