<div class="container">
  <form #professorForm="ngForm" (ngSubmit)="save(assistantForm)">
    <div class="wrapper">
      <div class="form-group item-1">
        <label for="full-name">Full name</label>
        <input type="text" [(ngModel)]="model.nameSurname" class="form-control"
             name="nameSurname" id="full-name" placeholder="Enter name..." />
      </div>
      <div class="form-group item-2">
          <label for="study-field">Study field</label>
          <select class="custom-select" name="studyField" 
              [(ngModel)]="model.studyField" id="study-field">
            <option selected value="AI">Artificial Intelligence</option>
            <option value="Management">Management</option>
          </select>
        </div>
        <div class="form-group item-3">
            <label for="department">Department</label>
            <select class="custom-select" name="department"
                [(ngModel)]="model.department" id="department">
              <option *ngFor="let department of departments" 
              [ngValue]="department">
                {{department.name}}
              </option>
            </select>
          </div>
          <div class="form-group item-4">
              <label for="diploma">Diploma</label>
              <input type="text" name="diploma" class="form-control"
                  [(ngModel)]="model.diploma" id="diploma" 
                  placeholder="Number diploma..." />
            </div>
        <div class="form-group item-5">
            <input type="hidden" [ngModel]="model.type" value="A" name="type"/>
        </div>
        <div class="item-6">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
    </div>
  </form>
</div>