
  <div formArrayName="courseUnits" *ngFor="let unit of courseUnitArray.controls; let i = index;">
    <div class="course-unit-item" [formGroupName]="i">
      <input type="number" formControlName="number" class="form-control unit-number" placeholder="Unit number">
      <input formControlName="name" class="form-control" placeholder="Unit name">
      <!-- <button type="button" (click)="toggle(i)" class="btn btn-square btn-warning delete-btn"><i
          class="far fa-edit"></i></button>
      <button type="button" (click)="deleteItem(i)" class="btn btn-square btn-danger delete-btn"> -->
      <button type="button" (click)="deleteUnit(i)" class="btn btn-square btn-warning delete-btn"><i
          class="far fa-edit"></i></button>
      <button type="button" (click)="toggleDescription(i)" class="btn btn-square btn-danger delete-btn">
        <i class="far fa-trash-alt"></i>
      </button>
      <textarea formControlName="description" *ngIf="descriptions[i]" class="form-control description"
        placeholder="Unit description"></textarea>
    </div>
  </div>
<button type="button" (click)="addItem()" class="btn btn-pill btn-success btn-add-course-unit"><i
    class="fas fa-plus"></i></button>