/********************************************
            General styling
********************************************/
.container {
  min-width: 100%;
}

.container > form {
  padding: 1%;
  background-color: #FFFFE1;
}

.custom-select, .form-control {
  max-width: 95%;
}

label, select {
  display: block;
}

.custom-select {
  min-width: 235px;
}

.wrapper {
  display: grid;
  grid-template-columns: 29% 29% 30%;
  grid-template-rows: 70px 70px 70px 150px 150px 70px;
}

.wrapper > div {
  text-align: left;
}

form {
  margin-top: 2%;
}

label {
  margin-bottom: 1%;
}

.mini-title {
  margin-top: 2%;
}

.item-3 {
  grid-column: 3;
  grid-row: 1 / 6;
  margin-top: -13px;
  margin-left: 30px;
  display: grid;
  grid-template-rows: 40px 470px 100px;
  grid-template-columns: 460px;
}

.item-3-3 {
  grid-row: 2;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  padding: 5px;

}

.btn-add-course-unit {
  grid-row: 3;
}

.item-7 {
  grid-column: 1 / 2;
  grid-row: 4;
}

.item-8 {
  grid-row: 5;
  grid-column: 1 / 3;
}

.item-8 > div {
  float: left;
}

.item-9 {
  grid-row: 6;
  grid-column: 1;
}

.buttons {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 45px;
}

.goal {
  min-width: 650px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.btn-add-course-unit {
  margin-top: 10px;
  max-width: 40px;
  max-height: 40px;
}
