<form [formGroup]="courseForm" (ngSubmit)="save()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name..." />
  </div>
  <div class="form-group">
    <label for="ESPB">ESPB</label>
    <input type="number" formControlName="espb" class="form-control" id="ESPB" placeholder="ESPB..." />
  </div>
  <div class="form-group">
    <label for="goal">Goal</label>
    <input type="text" formControlName="goal" class="form-control" id="goal" placeholder="Goal..." />
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select class="custom-select" formControlName="status" id="status">
      <option selected value="OPTIONAL">Optional</option>
      <option value="MANDATORY">Mandatory</option>
    </select>
  </div>
  <div class="form-group">
    <label for="studyProgram">Study Program</label>
    <select class="custom-select" formControlName="studyProgram" id="studyProgram">
      <option *ngFor="let studyProgram of studyPrograms" [ngValue]="studyProgram">
        {{studyProgram.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="department">Department</label>
    <select class="custom-select" formControlName="department" id="department">
      <option *ngFor="let department of departments" [ngValue]="department">
        {{department.name}}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <div class="form-group">
    <label for="selectLecturers">Lecturer</label>
    <select class="selectpicker" formControlName="selectLecturers" multiple data-live-search="true"
      id="selectLecturers">
      <option *ngFor="let lecturer of selectLecturers" [ngValue]="lecturer">
        {{lecturer.nameSurname}}
      </option>
    </select>
    {{this.courseForm.controls.selectLecturers.value}}
  </div>
  <div class="form-group">
    <label for="lecturers">Selected Lecturers</label>
    <select class="selectpicker" multiple data-live-search="true" formControlName="lecturers"
      id="lecturers">
      <option *ngFor="let lecturer of lecturers" [ngValue]="lecturer" selected>
        {{lecturer.nameSurname}}
      </option>
    </select>
  </div>
  <button type="button" (click)="swapLecturers('selectLecturers', 'lecturers')" class="list-transfer-btn"><span>L</span></button>
  <button type="button" (click)="swapLecturers('lecturers', 'selectLecturers')" class="list-transfer-btn"><span>R</span></button>
  <button type="button" (click)="swapLecturersAll('selectLecturers', 'lecturers')" class="list-transfer-btn">FULL L</button>
  <button type="button" (click)="swapLecturersAll('lecturers', 'selectLecturers')" class="list-transfer-btn">FULL R</button>
  <div formArrayName="courseUnits" *ngFor="let unit of courseForm.get('courseUnits').controls; let i = index;">
    <div [formGroupName]="i">
      <input type="number" formControlName="number" placeholder="Unit number">
      <input formControlName="name" placeholder="Unit name">
      <input formControlName="description" placeholder="Unit description">
      <button type="button" (click)="deleteItem(i)" class="btn btn-info">Delete unit</button>
    </div>
    Chosen name: {{ courseForm.controls.courseUnits.controls[i].controls.name.value }}
  </div>
</form>
<button (click)="addItem()" class="btn btn-primary">Add Unit</button>