
.custom-select, .form-control {
    max-width: 320px;
}

label, select { 
    display: block;
}

.custom-select {
    min-width: 235px;
}

.lecturer-select {
    min-height: 110px;
}

.buttons-swap-all {
    margin-top: 2px;
}

.buttons-swap-all > button {
    margin-left: 2px;
    width: 35px;
    height: 35px;
    padding-left: 10px;
}

.buttons-swap > button {
    margin-left: 2px;
    width: 35px;
    height: 35px;
}

.wrapper {
    display: grid;
    grid-template-columns: 330px 330px 450px;
    grid-template-rows: 70px 70px 70px 150px 150px 70px;
}

form {
    margin-top: 40px;
}

label {
    margin-bottom: 2px;
}

.course-unit-item {
    display: inline-block;
}

.course-unit-item > *{
    float: left;
}

.course-unit-item > button{
    /* display: block; */
    /* float: none; */
}

.item-3 {
    grid-column: 3;
    grid-row: 1 / 6;
    margin-top: -7px;
    margin-left: 50px;
}

.item-3 > div > div > input:first-child {
    max-width: 60px;
}

.item-3 > div > div > input:nth-child(2) {
    min-width: 250px;
    max-width: 250px;
}

.item-3 > div > div > input:nth-child(5) {
    min-width: 450px;
    min-height: 150px;
    display:none;
}

.item-7 {
    grid-column: 1 / 2;
    grid-row: 4;
}

.item-8 {
    grid-row: 5;
    grid-column: 1 / 3;
}

.item-8 > div {
    float: left;
}

.item-9 {
    grid-row: 6;
    grid-column: 1;
}

.buttons {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 45px;
}

.goal {
    min-width: 650px;
}

.delete-btn {
    margin-left: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0px;
}

.delete-btn:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  
