<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Department</th>
      <th>ESPB</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of currentCourses">
      <td>{{ course.id }}</td>
      <td>{{ course.name }}</td>
      <td>{{ course.status }}</td>
      <td>{{ course.department.name }}</td>
      <td>{{ course.espb }}</td>
      <td>
        <button class="btn btn-info" [routerLink]="['course-edit', course.id]">
        </button>
      </td>
    </tr>
  </tbody>
</table>