<div class="container">
  <form #lecturerForm="ngForm" (ngSubmit)="save(lecturerForm)">
    <div class="wrapper">
      <div *ngIf="model" class="form-group item-0">
        <input type="hidden" [(ngModel)]="model.id" class="form-control" name="id" id="id"/>
      </div>
      <div class="form-group item-1">
        <div class="info">
          <label for="full-name">Full name</label>
          <span class="help-block" *ngIf="!nameSurname.valid && nameSurname.touched">
            Invalid
          </span>
        </div>
        <input type="text" [(ngModel)]="model.nameSurname" class="form-control" name="nameSurname" id="full-name"
               placeholder="Enter name..." required #nameSurname="ngModel" required maxLength="30"/>
      </div>
      <div class="form-group item-2">
        <label for="study-field">Study field</label>
        <input type="text" [(ngModel)]="model.studyField" class="form-control" name="studyField" id="study-field"
               placeholder="Enter study field..." required #studyField="ngModel" required maxLength="30"/>
      </div>
      <div class="form-group item-3">
        <label for="department">Department</label>
        <select class="custom-select" name="department"
                [(ngModel)]="model.department?.id === 0 && departments ? departments[0] : model.department"
                id="department">
          <option *ngFor="let department of departments" [ngValue]="department">
            {{department.name}}
          </option>
        </select>
      </div>
      <div *ngIf="lecturerType === 'professor'" class="form-group item-4">
        <div class="info">
          <label for="researchNumber">No. research papers</label>
          <span class="help-block" *ngIf="!researchNumber.valid && researchNumber.touched">
            Invalid
          </span>
        </div>
        <input type="number" name="researchNumber" class="form-control" [(ngModel)]="model.researchNumber"
               id="researchNumber"
               placeholder="Number of research papers..." required #researchNumber="ngModel"/>
      </div>
      <div *ngIf="lecturerType === 'professor'" class="form-group item-5">
        <label for="position">Position</label>
        <select class="custom-select" name="position"
                [(ngModel)]="model.position.length === 0 ? positions[0] : model.position" id="position">
          <option *ngFor="let position of positions">
            {{ position }}
          </option>
        </select>
      </div>
      <div *ngIf="lecturerType === 'assistant'" class="form-group item-4">
        <label for="diploma">Diploma</label>
        <select class="custom-select" name="diploma"
                [(ngModel)]="!model.diploma ? diplomas[0] : model.diploma" id="diploma">
          <option selected value="Master">Master</option>
          <option value="Bachelor">Bachelor</option>
        </select>
      </div>
      <div class="form-group item-6">
        <input type="hidden" [ngModel]="model.type" value="this.lecturerType === 'professor' ? P : A" name="type"/>
      </div>
      <div
        [className]="lecturerType === 'professor' ? 'item-7 professor' : 'item-7 assistant'">
        <button type="submit" class="btn btn-success"
                [disabled]="!lecturerForm.valid">Save
        </button>
      </div>
    </div>
  </form>
</div>
