@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: Roboto, sans-serif;
  margin-left: 280pt;
  margin-right: 280pt;
  text-align: center;
  display: inline-block;
  background-color: blue;
}

.footer {
  height: 50pt;
  width: 100%;
  background-color:white;
  text-align: center;
}